{% extends 'base.html.twig' %}
{% block content %}
    {% include 'navbar.html.twig' %}
    <div class="text-about">
        <div class="presentation">
            <p> A simple yet fun card game in which all of the cards are from the <b>NASA Astronomy Picture of the Day</b>.
                <br>
                <br>
                Refreshed everyday, the space cards are laid face down on a surface and two cards are flipped face up over each turn.
                <br>
                <br>
                    The object of the game is to turn over pairs of matching cards of the space.</p>
        </div>
        <div class="social">
            <a href="http://www.wildcodeschool.com"><img src="https://murhafsousli.github.io/memory/assets/github.svg" alt=""></a>
            <a href="http://www.wildcodeschool.com"><img src="https://murhafsousli.github.io/memory/assets/twitter.svg" alt=""></a>
            <a href="http://www.wildcodeschool.com"><img src="https://murhafsousli.github.io/memory/assets/paper-plane.svg" alt=""></a>

        </div>
    </div>



    <div class="containere demo">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <h1 class="main-title">
                    <div class="sign">
                        <span class="signword">ASTROGAME</span>
                    </div>
                </h1>
            </div>
        </div>
    </div>

    <footer>
        <p>
            Hand-crafted with <img src="https://murhafsousli.github.io/memory/assets/hot-drink.svg" alt=""> by
            <a href="https://www.linkedin.com/in/c%C3%A9dric-roux/">
                Cédric.R
            </a>
            +
            <a href="https://www.linkedin.com/in/laureen-dumas/?originalSubdomain=fr">
                Laureen.D
            </a>
            +
            <a href="https://www.linkedin.com/in/richard-petit/">
                Richard.P
            </a>
            +
            <a href="https://www.linkedin.com/in/yasmine-bouslimani/">
                Yasmine.B
            </a>
        </p>
    </footer>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>
{% endblock %}
