{% extends 'layout.html.twig' %}
{% block content %}

<div class="cards">
    <div class="d-flex justify-content-center">
        <div class="row">
            {% for picture in pictures %}
                <div class="box carte" data-id="img{{ loop.index }}">
                    <img src="{{ picture.url }}" class="image-form hidden" id="img{{ loop.index }}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
<<<<<<< HEAD
</div>
    {% include 'navbar.html.twig' %}
=======


>>>>>>> 5b40c290502daa35d0679dda00ac13d42e40fb96
{% endblock %}
