{% extends 'layout.html.twig' %}
{% block content %}
    {% include 'scorebar.html.twig' %}
{% include 'navHaut.html.twig' %}
<div class="d-flex justify-content-center">
    <div class="scoreboard" >
        <h2 id="score"> 0 </h2>
    </div>
<div class="cards">
    <div class="d-flex justify-content-center">
        <div class="row">
            {% for picture in pictures %}
                <div class="front-inner">
                <div class="box carte" data-id="img{{ loop.index }}">
                    <img src="{{ picture.url }}" class="image-form hidden" id="img{{ loop.index }}" alt="">
                </div>
        </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
    {% include 'navbar.html.twig' %}
{% endblock %}
