{% extends 'layout.html.twig' %}
{% block content %}
    {% include 'navbar.html.twig' %}
    <div class="d-flex justify-content-center">
        <div class="row">
            {% for picture in pictures %}
                <div class="box carte" data-id="img{{ loop.index }}">
                    <img src="{{ picture.url }}" class="image-form hidden" id="img{{ loop.index }}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
