.signword {
  margin-top : -533px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  text-align: center;
  line-height: 1;
  color: #C6E2FF;
  animation: neon .08s ease-in-out infinite alternate;
}


