@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap');
@import 'home';
@import "cards";
@import 'score';
@import "nav";
@import "about";
@import "navHaut";

