@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

body {
  background-color: lightgray;
  display : flex;
  justify-content: center;
  background-image: url('https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif');
}

.swal-modal {
  font-family: "Bungee", cursive;
  img {
    width: 400px;
    height: 350px;
  }
}

  .image-form {
    width: 250px;
    height: 250px;
  }
  .cards {
    margin-top : 100px;
    width : 1250px;
  }
  .row {
    margin : 0;
  }

  .display {
    display:block !important;
  }
  .carte {
    width: 250px;
    height: 250px;
    background-color: #e8c380;
    border: 2px solid black;
    margin : 4px;
    box-shadow: 4px 2px 5px black;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  .display {
    display:block !important;
  }
