body {

  justify-content: center;
  background-image: url('https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg');

}

.swal-modal {
  font-family: "Bungee", cursive;
  img {
    width: 400px;
    height: 350px;
  }
}

.image-form {
  width: 250px;
  height: 250px;
}
.cards {
  margin-top : 100px;
  width : 1250px;
}
.row {
  margin : 0;
}

.display {
  display:block !important;
}
.carte {
  width: 250px;
  height: 250px;
  background-image: url("http://assets.stickpng.com/thumbs/58429400a6515b1e0ad75acc.png");
  background-size: cover;
  border: 2px solid black;
  box-shadow: 4px 2px 5px black;
  cursor: pointer;
  margin :auto;
}
.hidden {
  display: none;
}
.display {
  display:block !important;
}
