
.swal-modal {
  font-family: "Bungee", cursive;

  img {
    width: 400px;
    height: 350px;
  }
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

.image-form {
  width: 170px;
  height: 170px;

}

.cards {
  margin: auto;
  padding-top: 74px;
  width: 1250px;
}

.row {
  margin: 0;
  width: 100%;
}

.display {
  display: block !important;
}

.carte {
  width: 250px;
  height: 250px;
  background-image: url("http://assets.stickpng.com/thumbs/58429400a6515b1e0ad75acc.png");
  background-size: cover;
  border: 2px solid black;
  box-shadow: 4px 2px 5px black;
  cursor: pointer;
  margin: auto;
  transition: all .35s linear;

  &:hover {
    box-shadow: 0 0 15px #fff2ba;
  }
}

.hidden {
  display: none;
}

.front-inner {
  margin: 15px;
  background: linear-gradient(45deg, #ce0996 0%, rgba(206, 9, 150, 0) 70%), linear-gradient(135deg, #e74804 10%, rgba(231, 72, 4, 0) 80%), linear-gradient(225deg, #e6af0a 10%, rgba(230, 175, 10, 0) 80%), linear-gradient(315deg, #27fe01 100%, rgba(39, 254, 1, 0) 70%);
}
