.scoreboard {
 display: flex;
  justify-content: center;
}

#score {
  background-color: black;
  box-shadow: 0 5px 50px white;
  padding-top: 5px;
  margin: auto;
  font-size: 5rem;
  color: white;
  height: 100px;
  width: 150px;
  border-radius: 50%;
  text-align: center;
  font-family: bungee;
}
