{% extends 'base.html.twig' %}
{% block body %}
<div class="containo">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <h1 class="main-title">
                <div class="sign">
	                <span class="sign__word">ASTROGAME</span>
                </div>
            </h1>
        </div>
    </div>
</div>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>
{% endblock %}
