<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>



<body id="zone" style="background-image: url('https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg');">


{% block content %}{% endblock %}

{% block javascripts %}

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        const cards = document.getElementsByClassName('carte');
        let previousUrl = '';
        let previousImg = '';
        let count       = 0;
        let nbClick     = 0;
        const scoreElement = document.getElementById("score");
        const bodyElement = document.getElementById("zone");
        bodyElement.addEventListener('click', function (event) {
            if (count < cards.length /2) {
                nbClick++;
                scoreElement.innerText = nbClick ;
            }


        });
        for (let i = 0 ; i < cards.length ; i++) {
            cards[i].addEventListener('click', event => {

                let imageId = event.target.getAttribute('data-id');
                document.getElementById(imageId).classList.toggle('hidden');
                let img = event.target.children[0]
                let url = img.getAttribute('src');
                if (previousUrl != '') {
                    if (url === previousUrl) {
                        img.classList.add('display');
                        previousImg.classList.add('display');
                        count++
                    } else {
                        previousImg.classList.add('hidden');
                    }
                }
                if (count === cards.length /2) {
                    if (nbClick > 20) {
                        swal({
                            title: "If you're a 3 years old child... Good Job !",
                            text: "You win with " + nbClick + " clicks !",
                            icon: "https://media2.giphy.com/media/voL9TvAzXu9VK/source.gif",
                            button: "Aww yiss!",
                        })
                    } else {
                        swal({
                            title: "Good job! Only Chuck Norris did better !",
                            text: "You win with " + nbClick + " clicks !",
                            icon: "https://66.media.tumblr.com/1868438b1353539c8a6ce2fbff2ba042/tumblr_pme7jgDPcO1t403jy_540.gif",
                            button: "Aww yiss!",
                        })
                    }
                }


                scoreElement.innerText = nbClick ;


                previousUrl = img.getAttribute('src');
                previousImg = img;
            });
        }
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
    </body>
</html>


