<div class="d-flex justify-content-around">
<div class="new-game">
<a href="{{ path('nasa')}}" class="lien">NEW GAME</a>
</div>

<div class="about">
    <a href="{{ path('about')}}" class="lien">ABOUT</a>
</div>
</div>
